# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# libs and system files
server/*
auto-save-list/*
straight/*
eln-cache/*
transient/*
elpa/*
eshell/*

# private info
*private.el
